<div
    class="bg-account-banner bg-banner bg-repeat-x md:bg-repeat bg-top md:bg-center bg-white rounded-lg mb-5 md:mb-10 relative overflow-hidden">
    <div class="account-banner w-full relative md:w-fit lg:min-w-[600px] xl:min-w-[830px] mx-auto text-center md:bg-white py-5 md:py-5 px-7 h-full">
        <div class="account-banner__bg md:hidden absolute bottom-0 left-0 w-full h-1/2 bg-white z-0"></div>
        <div class="text-blue_text relative z-10 text-xl md:text-4xl font-semibold mb-5 md:mb-8">
            @@title
        </div>
        <div class="btn btn-accent relative z-10 min-w-fit sm:w-80 mx-auto">
            @@button
        </div>
    </div>
</div>