<div class="modal" id="actualise-modal">
    <div class="popup popup-small">
        <div class="w-full max-w-md mx-auto">
            <div class="flex items-center justify-center relative border-b pb-5 mb-5">
                <div class="font-semibold">
                   Актуальность данных
                </div>
                <button class="absolute right-0 cursor-pointer" onclick="closeModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#151515" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>

            <p class="text-blue_text font-medium text-center mb-10">
                Добро пожаловать! Вы не заполнили форму. Просим вас проверить актуальность данных в вашем профиле и завершить заполнение формы. Пожалуйста, убедитесь, что ваша контактная информация, адрес и другие важные данные обновлены. Это поможет нам обеспечить вам лучший сервис.
            </p>

            <div class="flex flex-col items-center justify-center gap-10 md:gap-5 mb-12 md:mb-0">
                <button class="btn btn-accent w-full max-w-xs min-w-0">
                    Проверить
                </button>
                <button class="btn btn-accent btn-dashed w-full max-w-xs min-w-0">
                    Не проверять
                </button>
            </div>


        </div>

    </div>
</div>