<div class="modal" id="change-phone-modal">
    <div class="popup">
        <div class="w-full max-w-[480px] mx-auto">
            <div class="flex items-center justify-center relative border-b pb-5 mb-5">
                <div class="font-medium">
                    Изменить телефон
                </div>
                <button class="absolute right-0 cursor-pointer" onclick="closeModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#151515" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>

            <form action="" class="w-full max-w-sm mx-auto">
                <div class="form-item mb-10">
                    <label for="update-tel">Новый номер телефона</label>
                    <input type="tel" placeholder="Введите номер">

                </div>

                <button class="btn btn-accent w-full mx-auto mb-12 md:mb-0">
                    Сохранить
                </button>
            </form>


        </div>

    </div>
</div>