<label for="rules" class="">
    <input type="checkbox" id="rules">
    <span class="custom-checkbox"></span>
    <span class="text-xs md:text-sm leading-5">Я ознакомлен и согласен со&nbsp;<a class="js-show-rules text-dark_accent cursor-pointer">следующим</a> </span>
</label>

<div class="js-hidden-checkbox hidden">
    <label class="mb-2.5 mt-5" for="agreement-personal" class="mb-10">
        <input type="checkbox" id="agreement-personal" checked>
        <span class="custom-checkbox"></span>
        <span class="text-xs md:text-sm leading-5">Даю свое согласие на&nbsp;<a href="#" class="text-dark_accent">обработку и передачу персональных
                данных</a> </span>
    </label>

    <label class=""  for="agreement-sign">
        <input type="checkbox" id="agreement-sign" checked>
        <span class="custom-checkbox"></span>
        <span class="text-xs md:text-sm leading-5">Даю свое согласие на&nbsp;<a href="#" class="text-dark_accent">использование аналога
                собственноручной
                подписи</a> </span>
    </label>
    <div class="js-hide-rules mt-5 text-center font-medium underline cursor-pointer">Свернуть</div>
</div>