<div class="w-[100px] md:w-40 mx-auto mb5 md:mb-10">
    <img src="img/icons/clock-3d.png" width="100%" alt="">
</div>

<p class="text-center md:text-2xl text-blue_text font-semibold">Проверяем ваши документы.</p>
<p class="text-center md:text-2xl text-accent font-semibold mb-5 md:mb-10"> Пожалуйста, ожидайте.</p>

<div
    class="w-full md:w-[480px] px-5 md:px-10 py-7 md:py-5 bg-lightgray rounded-lg shadow-md border-2 border-gray flex-col justify-center items-start gap-5 inline-flex">
    <div class="w-full flex justify-between">
        <div class="text-sm md:text-base text-black md:text-blue_text">Номер заявки: </div>
        <div class="text-accent md:text-2xl font-bold md:font-semibold">134121231</div>
    </div>
    <div class="w-full flex justify-between">
        <div class="text-sm md:text-base text-black md:text-blue_text">Дата займа:</div>
        <div class="text-accent md:text-2xl font-bold md:font-semibold">01.02.2024</div>
    </div>
    <div class="w-full flex justify-between">
        <div class="text-sm md:text-base text-black md:text-blue_text">Сумма займа:</div>
        <div class="text-accent md:text-2xl font-bold md:font-semibold">21 000 ₽</div>
    </div>
</div>