<p class="text-center md:text-2xl text-blue_text font-semibold">Файл не прошел проверку.</p>
<p class="text-center md:text-2xl text-accent mb-5 md:mb-10">Загрузите новый.</p>

<div class="flex flex-col md:flex-row flex-wrap md:justify-center lg:justify-start gap-5 md:gap-7 w-fit mx-auto mb-10">
    <div class="flex md:block w-full min-w-0 md:max-w-[225px] lg:max-w-[250px] xl:max-w-[256px] text-center relative">
    <div
        class="bg-lightgray rounded-md overflow-hidden w-full max-w-[150px] md:max-w-none h-[130px] md:h-[180px] mb-0 md:mb-2 border border-darkblue md:border-none flex items-center">
        <img src="img/selfie-example.png" class="w-full" alt="Селфи с паспортом">
    </div>
    <div class="pl-5 md:pl-0 flex justify-between flex-col md:block">
        <div class="text-sm font-medium text-left md:text-center">
            Селфи с паспортом
        </div>
    </div>
</div>
    <div class="flex md:block w-full min-w-0 md:max-w-[225px] lg:max-w-[250px] xl:max-w-[256px] text-center relative">
    <div
        class="bg-lightgray rounded-md overflow-hidden w-full max-w-[150px] md:max-w-none h-[130px] md:h-[180px] mb-0 md:mb-2 border border-darkblue md:border-none flex items-center">
        <img src="img/selfie-example.png" class="w-full" alt="Первый разворот паспорта">
    </div>
    <div class="pl-5 md:pl-0 flex justify-between flex-col md:block">
        <div class="text-sm font-medium text-left md:text-center">
            Первый разворот паспорта
        </div>
    </div>
</div>
    <div class="flex md:block w-full min-w-0 md:max-w-[225px] lg:max-w-[250px] xl:max-w-[256px] text-center relative">
    <div
        class="bg-lightgray rounded-md overflow-hidden w-full max-w-[150px] md:max-w-none h-[130px] md:h-[180px] mb-0 md:mb-2 border border-darkblue md:border-none flex items-center">
        <img src="img/selfie-example.png" class="w-full" alt="Разворот с регистрацией">
    </div>
    <div class="pl-5 md:pl-0 flex justify-between flex-col md:block">
        <div class="text-sm font-medium text-left md:text-center">
            Разворот с регистрацией
        </div>
    </div>
</div>
    <div class="flex md:block w-full min-w-0 md:max-w-[225px] lg:max-w-[250px] xl:max-w-[256px] text-center relative">
    <div
        class="bg-lightgray rounded-md overflow-hidden w-full max-w-[150px] md:max-w-none h-[130px] md:h-[180px] mb-0 md:mb-2 border border-darkblue md:border-none flex items-center">
        <img src="img/error-photo.png" class="w-full" alt="Фото привязанной карты">
    </div>
    <div class="pl-5 md:pl-0 flex justify-between flex-col md:block">
        <div class="text-sm font-medium text-left md:text-center">
            Фото привязанной карты
        </div>
    </div>
</div>
</div>
<div class="btn btn-accent max-w-md mx-auto" onclick="openModal('upload-selfie')">Заменить</div>