<header class="header relative py-7">
    <div class="container">
      <div class="flex items-center justify-center lg:justify-between relative">
        <button class="btn btn-squared btn-gray absolute left-0 top-auto bottom-auto min-w-fit flex px-4 lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M15 19.5L8 12.5L15 5.5" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <a href="index.html" class="logo w-36 lg:w-52">
          <img src="img/Logo.svg" width="100%" alt="Логотип компании">
        </a>
        <button class="btn btn-dashed hidden lg:flex">Назад</button>
      </div>
    </div>
</header>
