<header class="header relative md:pt-7">
    <div class="container">
      <div class="flex items-center justify-between">
        <a href="index.html" class="logo w-36 lg:w-52 flex-none">
          <img src="img/Logo.svg" width="100%" alt="Логотип компании">
        </a>
        <div class="flex items-center gap-2.5">


          <!-- 
          
          Добавлено меню которое пополняется пунктами по мере заполнения данных
          https://www.figma.com/design/xXQgW9f1KspJd4W3jXIrCH/Qreditka?node-id=1549-56481&m=dev
          
          -->


          <div class="flow-menu js-flow-menu">
            <div class="flow-menu__head pr-5">
              <div class="flow-menu__title uppercase">МЕНЮ</div>
              <button class="flow-menu__toggler js-flow-menu-toggler btn btn-squared btn-gray min-w-fit h-14 flex px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path class="js-flow-menu-icon" d="M3 17H21M3 12H21M3 7H21" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>

            <div class="flow-menu__body js-flow-menu-body">
              <div class="flex bg-white justify-between items-center py-2.5 pl-5 font-semibold text-2xl border border-transparent pr-5 md:hidden">
                <div class="uppercase">МЕНЮ</div>
                <button class="flow-menu__toggler js-flow-menu-toggler btn btn-squared btn-gray min-w-fit h-14 flex px-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path class="js-flow-menu-icon" d="M3 17H21M3 12H21M3 7H21" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
              </div>
              <div class="flow-menu__list">
                <a href="unregistered-my-cards.html" class="flow-menu__item">
                  <span>Мои карты</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 5L16 12L9 19" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                <a href="unregistered-history.html" class="flow-menu__item">
                  <span>История займов</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 5L16 12L9 19" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                <a href="unregistered-docs.html" class="flow-menu__item">
                  <span>Документы</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 5L16 12L9 19" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                <a href="unregistered-files.html" class="flow-menu__item">
                  <span>Мои файлы</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 5L16 12L9 19" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                <a href="unregistered-appeals.html" class="flow-menu__item">
                  <span>Мои обращения</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 5L16 12L9 19" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                <a href="unregistered-personal.html" class="flow-menu__item">
                  <span>Мои данные</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 5L16 12L9 19" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
            
          </div>
         




          <a href="login.html" class="btn btn-squared btn-gray min-w-fit h-14 flex px-4 mr-2.5">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M12 15L15 12M15 12L12 9M15 12H4M4 7.24802V7.2002C4 6.08009 4 5.51962 4.21799 5.0918C4.40973 4.71547 4.71547 4.40973 5.0918 4.21799C5.51962 4 6.08009 4 7.2002 4H16.8002C17.9203 4 18.4796 4 18.9074 4.21799C19.2837 4.40973 19.5905 4.71547 19.7822 5.0918C20 5.5192 20 6.07899 20 7.19691V16.8036C20 17.9215 20 18.4805 19.7822 18.9079C19.5905 19.2842 19.2837 19.5905 18.9074 19.7822C18.48 20 17.921 20 16.8031 20H7.19691C6.07899 20 5.5192 20 5.0918 19.7822C4.71547 19.5905 4.40973 19.2839 4.21799 18.9076C4 18.4798 4 17.9201 4 16.8V16.75" stroke="#191919" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>

        </div>
      </div>
    </div>
</header>

