<footer class="pb-16">
    <div class="container">
        <div class="flex flex-col lg:flex-row items-center lg:items-start justify-between gap-5 bg-lightgray rounded-3xl p-10">
            <a href="index.html" class="order-2 md:order-1 w-36 md:w-52">
                <img src="img/Logo.svg" width="100%" alt="Логотип компании">
            </a>
            <p class="order-3 md:order-2 text-[10px] text-gray_text max-w-md text-center">
                2024 ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ МИКРОКРЕДИТНАЯ КОМПАНИЯ «БАНКА ДЕНЕГ», ИНН 9727039021, ОГРН 1237700445696, 117638, г Москва, ул Одесская, д 2, помещ. 5/7, регистрационный номер записи в государственном реестре микрофинансовых организаций Банка России 2303045009979 от 22.08.2023.
            </p>
            <div class="text-[28px] md:text-xl xl:text-3xl leading-8 uppercase font-medium md:font-semibold flex flex-col order-1 md:order-3 items-center md:items-end">
                <a href="tel:88000000000">8 800 000-00-00</a>
                <a href="mailto:mail@mail.ru" class="lg:underline underline-offset-4">mail@mail.ru</a>
            </div>
        </div>
    </div>
</footer>

<script src="./js/scripts.js"></script>
