<div class="text-center font-medium text-sm md:hidden">Номер договора</div>
<div class="text-center text-sm text-accent font-bold mb-5 md:hidden">№<span>12435445</span>
</div>

<form action="" class="w-full max-w-[400px] mx-auto h-fit my-auto">
    <div class="form-item">
        <input type="text" class="payment-input mb-2.5" placeholder="Введите сумму" value="40 руб.">
    </div>

    <button class="btn btn-accent btn-squared w-full mb-5 md:mb-10">Продлить</button>

    <div class="form-item">
        <input type="text" class="payment-input mb-2.5" placeholder="Введите сумму" value="2100 руб.">
    </div>

    <button class="btn btn-accent btn-squared w-full">Оплатить</button>

</form>
<div
    class="js-loan-info border-b border-dashed border-gray mb-5 h-fit max-h-0 overflow-hidden transition-all text-blue_text md:hidden">
    <div class="w-full py-2.5 flex items-center justify-between">
        <div class="text-sm  max-w-[60%]">Общая сумма долга</div>
        <div class=" font-bold basis-2/5">21 000 руб.</span></div>
    </div>
    <div class="w-full py-2.5 flex items-center justify-between">
        <div class="text-sm  max-w-[60%]">Проценты</div>
        <div class=" font-bold basis-2/5">40 руб.</span></div>
    </div>
    <div class="w-full py-2.5 flex items-center justify-between mb-5">
        <div class="text-sm  max-w-[60%]">Рекомендованная дата&nbsp;платежа</div>
        <div class=" font-bold basis-2/5">03.03.23</span></div>
    </div>
</div>

<div class="js-show-info text-center font-medium cursor-pointer md:hidden">Подробнее о заеме
</div>