<div class="schedule-modal fixed bg-gray w-full h-full pt-14 translate-y-full transition-all top-28">
    <div class="container h-full">

        <div class="bg-white w-full rounded-t-[48px] h-full">
            <div class="flex items-center justify-between py-11 border-b border-gray px-11">
                <div class="text-3xl font-semibold">
                    График платежей
                </div>
                <button class="schedule-close border-red border rounded-full p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#DD2525" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="pt-10">
                <div class="schedule-row font-bold">
                    <div class="schedule-row__item">Рекомендованная <br> дата погашения</div>
                    <div class="schedule-row__item">Платеж по графику</div>
                    <div class="schedule-row__item">Просрочка</div>
                    <div class="schedule-row__item">Сумма к оплате</div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item">
                        <div class="">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Платеж по графику
                        </div>
                        <div class=""><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Просрочка
                        </div>
                        <div class="">-</div>
                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Сумма к оплате
                        </div>
                        <div class="text-green">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item">
                        <div class="">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Платеж по графику
                        </div>
                        <div class=""><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="lg:hidden">
                            Просрочка
                        </div>
                        <div class="">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="lg:hidden">
                            Сумма к оплате
                        </div>
                        <div class="">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item">
                        <div class="">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Платеж по графику
                        </div>
                        <div class=""><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="lg:hidden">
                            Просрочка
                        </div>
                        <div class="">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="lg:hidden">
                            Сумма к оплате
                        </div>
                        <div class="">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item">
                        <div class="">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Платеж по графику
                        </div>
                        <div class=""><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="lg:hidden">
                            Просрочка
                        </div>
                        <div class="">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="lg:hidden">
                            Сумма к оплате
                        </div>
                        <div class="">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item">
                        <div class="">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Платеж по графику
                        </div>
                        <div class=""><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="lg:hidden">
                            Просрочка
                        </div>
                        <div class="">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum paid">
                        <div class="lg:hidden">
                            Сумма к оплате
                        </div>
                        <div class="">Оплачен</div>
                    </div>
                </div>
                <div class="schedule-row">
                    <div class="schedule-row__item">
                        <div class="">02.01.2024</div>
                    </div>
                    <div class="schedule-row__item">
                        <div class="lg:hidden">
                            Платеж по графику
                        </div>
                        <div class=""><span>2500</span> руб.</div>

                    </div>
                    <div class="schedule-row__item overdue">
                        <div class="lg:hidden">
                            Просрочка
                        </div>
                        <div class="">-</div>
                    </div>
                    <div class="schedule-row__item pay-sum">
                        <div class="lg:hidden">
                            Сумма к оплате
                        </div>
                        <div class=""><span>2500</span> руб.</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>