<div class="flex md:block w-full min-w-0 md:max-w-[225px] lg:max-w-[250px] xl:max-w-[256px] text-center relative">
    <div
        class="bg-white rounded-md overflow-hidden w-full max-w-[150px] md:max-w-none h-[130px] md:h-[180px] mb-0 md:mb-2 border border-darkblue md:border-none flex items-center">
        <img src="@@image" class="w-full" alt="@@title">
    </div>
    <div class="pl-5 md:pl-0 flex justify-between flex-col md:block">
        <div class="text-sm font-medium text-left md:text-center">
            @@title
        </div>
    </div>
</div>