<div class="flex md:block w-full min-w-0 md:max-w-[225px] lg:max-w-[250px] xl:max-w-[256px] text-center relative">
    <div
        class="bg-lightgray rounded-md overflow-hidden w-full max-w-[150px] md:max-w-none h-[130px] md:h-[180px] mb-0 md:mb-2 border border-darkblue md:border-none flex items-center">
        <img src="@@image" class="w-full" alt="@@title">
    </div>
    <div class="pl-5 md:pl-0 flex justify-between flex-col md:block">
        <div class="text-sm font-medium text-left md:text-center">
            @@title
        </div>
        <div class="md:absolute md:bg-lightgray rounded-full border-2 border-accent md:border-none text-accent h-10 md:h-12 w-36 md:w-12 flex items-center justify-center cursor-pointer -top-5 -right-5 group md:hover:bg-darkblue hover:bg-white hover:border-black hover:text-black transition-all "
            onclick="openModal('@@modal')">
            <span class="md:hidden">Переснять</span>
            <svg class="hidden md:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none">
                <path class="stroke-black group-hover:stroke-white transition-all"
                    d="M12.5 20.6946H18.5M6.50736 19.6946H5C4.44772 19.6946 4 19.2469 4 18.6946V17.1873C4 16.3916 4.31607 15.6285 4.87868 15.0659L14.75 5.19462C15.7855 4.15909 17.4645 4.15909 18.5 5.19462C19.5355 6.23015 19.5355 7.90909 18.5 8.94462L8.62868 18.8159C8.06607 19.3785 7.30301 19.6946 6.50736 19.6946Z"
                    stroke="#151515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>